In [1]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
attendance_df = pd.read_csv('../data/2016-17_-_2020-21_School_End-of-Year_Attendance_and_Chronic_Absenteeism_Data_20240410.csv')

In [3]:
attendance_df.columns

Index(['DBN', 'School Name', 'Grade', 'Category', 'Year', '# Total Days',
       '# Days Absent', '# Days Present', '% Attendance',
       '# Contributing 10+ Total Days and 1+ Pres Day', '# Chronically Absent',
       '% Chronically Absent'],
      dtype='object')

In [7]:
attendance_df.sample(5)

,DBN,School Name,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,# Contributing 10+ Total Days and 1+ Pres Day,# Chronically Absent,% Chronically Absent
42756,28Q167,Metropolitan Expeditionary Learning School,11,All Students,2019-20,11378,703,10675,93.8,105,17,16.2
19000,11X498,P.S./M.S. 11X498 - Van Nest Academy,0K,All Students,2017-18,9354,595,8759,93.6,59,10,16.9
37524,25Q154,P.S. 154 Queens,0K,All Students,2019-20,11346,841,10505,92.6,103,27,26.2
37485,25Q130,P.S. 130,0K,All Students,2017-18,13135,803,12332,93.9,78,13,16.7
9205,06M349,Harbor Heights,7,All Students,2020-21,5631,326,5305,94.2,34,5,14.7

In [8]:
attendance_df['Grade'].unique()

array(['All Grades', 'PK in K-12 Schools', '0K', '1', '2', '3', '4', '5',
       '6', '7', '8', '9', '10', '11', '12'], dtype=object)

In [16]:
attendance_df['Year'].unique()

array(['2016-17', '2017-18', '2018-19', '2019-20', '2020-21'],
      dtype=object)

In [11]:
df = attendance_df[attendance_df['Grade'] == 'All Grades']

In [15]:
df.head(10)

,DBN,School Name,Grade,Category,Year,# Total Days,# Days Absent,# Days Present,% Attendance,# Contributing 10+ Total Days and 1+ Pres Day,# Chronically Absent,% Chronically Absent
0,01M015,P.S. 015 Roberto Clemente,All Grades,All Students,2016-17,30601,1994,28607,93.5,196,51,26.0
1,01M015,P.S. 015 Roberto Clemente,All Grades,All Students,2017-18,33264,2078,31186,93.8,196,37,18.9
2,01M015,P.S. 015 Roberto Clemente,All Grades,All Students,2018-19,30887,2278,28609,92.6,192,47,24.5
3,01M015,P.S. 015 Roberto Clemente,All Grades,All Students,2019-20,21101,1500,19601,92.9,204,58,28.4
4,01M015,P.S. 015 Roberto Clemente,All Grades,All Students,2020-21,32686,3931,28755,88.0,199,84,42.2
41,01M019,P.S. 019 Asher Levy,All Grades,All Students,2016-17,47382,4484,42898,90.5,281,94,33.5
42,01M019,P.S. 019 Asher Levy,All Grades,All Students,2017-18,46335,3994,42341,91.4,276,97,35.1
43,01M019,P.S. 019 Asher Levy,All Grades,All Students,2018-19,44723,3979,40744,91.1,265,87,32.8
44,01M019,P.S. 019 Asher Levy,All Grades,All Students,2019-20,27491,2242,25249,91.8,250,72,28.8
45,01M019,P.S. 019 Asher Levy,All Grades,All Students,2020-21,36681,2523,34158,93.1,213,50,23.5